$orange: #cb6225;
$black: #2e2e2e;
$teal: #246e80;
$light-teal: #25cccb;
$light-purple: #c192c9;
$purple: #6e0a80;
$purple2: #c993a0;

* {
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  body {
    margin: auto;
    padding: 15px;
    width: 320px;

    .section {
      width: 100%;

      h2 {
        text-align: center;
      }
    }

    .portfolio ul {
      padding-left: 0;

      li {
        margin-left: -10px;

        .portLeft {
          img {
            width: 75%;
            margin-left: 48px;
          }

          .skills {
            margin-left: 20px;
            margin-top: -115px;

            .fab {
              font-size: 25px;
            }
          }

          .projectTitle,
          .description {
            text-align: center !important;
            margin: auto;
          }

          .projectTitle {
            padding: 10px 0 0 0 !important;
            width: 240px !important;
            margin-bottom: 0px !important;
            border-bottom: none;

            .mobileUnderline {
              display: block;
              border-bottom: 1px solid $orange;
              width: 100%;
            }

            .projectGithub {
              float: none;
              margin-top: 10px;
              padding-bottom: 25px;
              font-family: Alegreya;

              .fab {
                color: $orange;
                font-size: 20px;
                padding-right: 4px;
              }

              a {
                font-size: 17px;
              }
            }
          }
        }

        .portRight > .growingUpDesc {
          margin-bottom: 55px;
        }

        .description {
          text-align: center;
          margin: auto;
        }
      }
    }

    .contact {
      text-align: center;
      display: block;
      margin: auto;

      .contact-resume {
        display: block;
        border: none;

        h2 {
          border-bottom: 2px solid $orange;
          text-align: center;
          margin: auto;
        }

        .resume {
          .arrow {
            right: 0px;
            left: 70px;
            top: 115px;
          }

          .arrow::after {
            content: '';
            top: 64px;
            right: 70px;
          }

          .h3 {
            text-align: left;
            padding-left: 120px;
          }
        }
      }

      ul {
        padding-left: 0;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        margin-top: -250px;
        li {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  body {
    padding: 0;
  }

  .portfolio ul li {
    a img {
      width: 85%;
      margin-left: 35px;
    }

    .skills {
      margin-left: 17px !important;
      margin-top: -127px !important;

      .fab {
        font-size: 30px !important;
      }
    }
  }

  .contact {
    text-align: center;

    .resume {
      position: absolute;
      padding-top: 30px;

      .arrow {
        right: 0px;
        left: 70px;
        top: 115px;
      }

      .arrow::after {
        content: '';
        top: 64px;
        right: 70px;
      }

      .h3 {
        text-align: left;
        padding-left: 120px;
      }

      img {
        border: 1px solid $black;
        border-radius: 4px;
        margin-bottom: 10px;
        width: 80px;
      }
    }
    ul {
      margin-top: -320px !important;
      padding-top: 0;
      li a {
        padding: 6px;

        .fa,
        .fab {
          font-size: 41px;
        }
      }
    }
  }
}

// no media queries:

body {
  margin: auto;
  font-family: raleway;
}

main {
  margin-top: 50px;
  margin-right: 0;

  p {
    font-weight: 340;
    font-size: 18px;
  }
}

.header {
  img {
    margin: auto;
    display: block;
    width: 250px;
    position: relative;
  }
}

.section {
  width: 400px;
  margin: auto;
  padding-bottom: 20px;

  h2 {
    border-bottom: 2px solid $orange;
    font-family: Sacramento;
    font-size: 50px;
    color: $black;
  }
}

.emptyFlex1,
.emptyFlex2,
.emptyFlex3 {
  display: none;
}

.bio {
  padding-top: 30px;

  p {
    line-height: 23px;
  }
}

.headline {
  font-weight: 450;
  font-size: 18px;
}

.portfolio {
  padding-bottom: 50px;

  li {
    list-style-type: none;
    margin-left: 17px;

    a {
      text-decoration: none;
      color: $black;
      font-size: 18px;

      &:hover {
        color: $orange;
      }
    }

    .skills {
      position: absolute;
      margin-left: -37px;
      margin-top: -155px;

      .fab {
        display: block;
        font-size: 35px;
        padding-bottom: 3px;
        color: $orange;
      }

      .fa-html5,
      .fa-css3-alt {
        padding-left: 2px;
      }

      .fa-react {
        margin-left: -3px;
      }
    }

    .projectTitle {
      padding: 10px 5px 5px 5px;
      width: 300px;
      margin-bottom: 20px;
      font-family: Alegreya;
      border-bottom: 1px solid $orange;

      .mobileUnderline {
        display: none;
      }

      .projectGithub {
        float: right;

        .fab {
          color: $orange;
          font-size: 20px;
        }

        a {
          font-size: 17px;

          .title {
            z-index: 10;
          }
        }

        a:nth-child(2) {
          border-right: 1px solid $orange;
          padding: 0 5px 0 0;
        }

        .server {
          padding-left: 3px;
        }

        .oneRepo {
          border: none !important;
        }
      }
    }

    .description {
      width: 300px;
      position: relative;
      padding: 80px 15px 0 15px;
      top: -90px;
      height: 120px;
      z-index: -1;
    }

    img {
      border: 1px solid $black;
      border-radius: 10px;

      &:hover {
        filter: brightness(90%);
      }
    }
  }
}

.contact {
  padding-bottom: 100px;
  margin-top: -80px;

  ul {
    padding-top: 20px;
  }

  .contact-resume {
    border-bottom: 2px solid $orange;
    display: flex;
    align-items: flex-end;

    h2 {
      border-bottom: none;
      margin: 0;
    }

    .resume {
      margin-left: auto;
      position: relative;

      .arrow {
        position: relative;
        width: 90px;
        height: 90px;
        border: 2px solid $black;
        border-radius: 50%;
        border-right-color: transparent;
        border-bottom-color: transparent;
        right: 50px;
        top: 105px;
        transform: rotate(-25deg);
      }

      .arrow::after {
        content: '';
        position: absolute;
        border: 15px solid $black;
        top: 62px;
        border-bottom-color: $black;
        border-top-width: 0;
        border-right-width: 0;
        border-left-color: transparent;
      }

      .h3 {
        font-family: Architects Daughter;
        transform: rotate(30deg);
        position: relative;
        left: 18px;
        top: 7px;
      }

      img {
        border: 1px solid $black;
        border-radius: 4px;
      }

      .resume-thumbnail {
        margin-bottom: 10px;

        &:hover {
          filter: brightness(90%);
          cursor: pointer;
        }
      }

      .toggle-resume {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(black, 0.5);

        .close-button {
          position: relative;
          width: 802px;
          margin: auto;

          svg {
            position: absolute;
            width: 40px;
            right: -27px;
            z-index: 100;
            background: white;
            border-radius: 50%;

            &:hover {
              color: darkred;
              cursor: pointer;
            }
          }
        }

        img {
          height: 97%;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px 52px 0 0;

    i {
      font-size: 35px;
      color: darken($orange, 5%);
      position: relative;
      z-index: -1;

      &:hover {
        opacity: 70%;
      }
    }
  }
}

.remove-click {
  z-index: -1;
  position: relative;
}

@media screen and (min-width: 500px) and (max-width: 860px) {
  .portRight > .growingUpDesc {
    margin-bottom: 58px;
  }
}

@media screen and (max-width: 860px) {
  .contact .contact-resume .resume .toggle-resume img {
    height: auto;
    width: 97%;
  }

  .toggle-resume > .close-button {
    position: absolute !important;
    top: 5px;
    right: 33px;
  }
}

@media screen and (min-width: 860px) {
  .divider {
    width: 1px;
    height: 800%;
    max-height: 2300px;
    margin: auto;
    position: absolute;
    left: 50%;
    background-color: $black;
    margin-top: -30px;
    z-index: -1;
  }

  .flexContainer {
    display: flex;
    flex-direction: row;
    width: 860px;
    align-content: space-around;
    margin: auto;
    flex-wrap: wrap;
  }

  .emptyFlex1,
  .bio {
    height: 550px;
  }

  .portfolio {
    text-align: right;
    margin-right: 40px;
    margin-top: 150px;

    li {
      margin-left: 0;
      display: flex;
      padding-bottom: 20px;

      .portLeft {
        img {
          margin-left: 56px;
        }

        .skills {
          margin-left: 20px !important;

          .fa-html5,
          .fa-css3-alt {
            padding-right: 2px;
          }

          .fa-react,
          .fa-node-js {
            margin-left: -5px;
          }
        }

        .projectTitle {
          padding-bottom: 0;
          margin-left: 55px;
          border-bottom: none;
          padding-top: 3px;

          .projectGithub {
            float: left;
          }
        }
      }

      .portRight {
        background-image: linear-gradient(
          to bottom right,
          rgba(203, 97, 37, 0.2) 30%,
          rgba(36, 110, 128, 0.2)
        );
        border-radius: 10px;
        width: 382px;
        height: 151px;
        z-index: -10;
        position: absolute;
        margin-left: 330px;

        .description {
          text-align: left;
          padding-left: 80px;
          width: 380px;
          padding-top: 75px;
        }

        .growingUpDesc {
          margin-top: 24px;
        }

        .calvinQuizDesc {
          margin-top: 53px;
        }

        .oldPortfolioDesc {
          margin-top: 33px;
        }
      }
    }
  }

  .contact {
    margin-top: -140px;

    ul {
      padding-top: 20px;
    }
  }

  .bio,
  .contact {
    margin-left: 40px;
  }

  .emptyFlex1,
  .emptyFlex2,
  .emptyFlex3 {
    display: block;
  }
}
